################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Week II/StudentTranscript/.vs/StudentTranscript/v15/Server/sqlite3/db.lock
/Week IV/ProjectManagement/.vs/ProjectManagement/v15/Server/sqlite3
/Week IV/ProjectManagement/.vs/ProjectManagement/v15
/Week IV/ProjectManagement/.vs/ProjectManagement/v15/Server/sqlite3/storage.ide-wal
/Week IV/ProjectManagement/.vs/ProjectManagement/v15/Server/sqlite3/storage.ide-shm
/Week IV/ProjectManagement/.vs/ProjectManagement/v15/Server/sqlite3/storage.ide
/Week IV/ProjectManagement/.vs/ProjectManagement/v15/Server/sqlite3/db.lock
/Week IV/ProjectManagement/.vs/ProjectManagement/v15/.suo
