@model Week_V___MVCIntro.Models.TodoList
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

@Html.DisplayFor(model => model.Name);
<br />
@Html.DisplayFor(model => model.Description);

<br />
@Html.DisplayFor(model => model.Deadline);
